html
  head
    link(href='/css/index.css', rel='stylesheet')
    link(href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css")
    title timestamp
  body
    h1 Timestamp Microservice
    div.quotes
      p This is an API that when given a string as a parameter, it will check to
      p see if it is a unix time stamp or natural language date such as April 13, 2018.
      p &nbsp;
      p If it is either of the two, it will return both the Unix timestamp and
      p the natural language date, e.g. { unix: timestamp, natural: timestamp }.
      p &nbsp;
      p Otherwise, it will return null for both unix and natural, e.g.
      p { unix: null, natural: null }.
    div.extra
      p &nbsp;
      p The only real rule is the month has to be spelled out and the
      p year has to be specific such as 2018, not 18.
      p &nbsp;
      p Example formats:
      ul
        li 13 April 2018
        li April 13, 2018
